<!-- Edit employee form -->
<!-- Edit employee form -->
<form (submit)="saveEmployee()">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="employee.name" name="name" required>
    <p>Previous Value: {{ previousEmployee?.name }}</p>
  
    <label for="position">Position:</label>
    <input type="text" id="position" [(ngModel)]="employee.position" name="position" required>
    <p>Previous Value: {{ previousEmployee?.position }}</p>
  
    <label for="department">Department:</label>
    <input type="text" id="department" [(ngModel)]="employee.department" name="department" required>
    <p>Previous Value: {{ previousEmployee?.department }}</p>
  
    <button type="submit">Save</button>
  </form>
  